@model IEnumerable<Restaurante.Model.CatalogoListaDeIngredientes>

@{
    ViewData["Title"] = "Index";
}
@{
    int idMenus = 1;
}
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDelIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDeLaMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAproximado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>

                @{idMenus = item.Id_MenuIngrediente;}
                

                @Html.DisplayFor(modelItem => item.NombreDelIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeLaMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAproximado)
            </td>
            <td>
                @Html.ActionLink("Desasociar", "Edit", new { id = item.Id_MenuIngrediente })
            </td>
        </tr>

}

@Html.ActionLink("Asociar", "Details","MenuIngrediente",  new { id = idMenus})

    </tbody>
</table>