@model IEnumerable<Restaurante.Model.CatalogoDeIngredienteDelMenu>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_MenuIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GananciasAproximadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null && Model.Any()){
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_MenuIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GananciasAproximadas)
            </td>
            <td>
                @Html.ActionLink("Ingredientes","Index", "CatalogoListaDeIngredientes", new { id= item.Id_MenuIngrediente })
            </td>
        </tr>
}}else{
        <tr>
            <td colspan="5">No hay ingredientes disponibles.</td>
        </tr>
        }
    </tbody>
</table>
