@model IEnumerable<Restaurante.Model.Menu>

@{
    ViewData["Title"] = "MenuCompleto";
}
<h1 ><center>Categorias del Menu</center></h1>
<hr />
<table>
    <td>
        <table class="table">
    <h2>Entrada</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Categoria == Restaurante.Model.MenuDeCategorias.Entrada){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            @{
              var base64 = Convert.ToBase64String(item.Imagen);
              var imagensrc = string.Format("data:image/jpg;base64,{0}", base64);
              }

            <img src="@imagensrc" style="height:50px;" class="d-block w-50" />


        </td>
        </tr>
}}
    </tbody>
</table>
    </td>
    <td>
        <table class="table">
    <h2>Platos Principales</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Categoria == Restaurante.Model.MenuDeCategorias.PlatosPrincipales){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            @{
              var base64 = Convert.ToBase64String(item.Imagen);
              var imagensrc = string.Format("data:image/jpg;base64,{0}", base64);
              }

            <img src="@imagensrc" style="height:50px;" class="d-block w-50" />


        </td>
        </tr>
}}
    </tbody>
</table>
    </td>
</table>

<table>
    <td>
<table class="table">
    <h2>Pequeñas Botanas</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Categoria == Restaurante.Model.MenuDeCategorias.PequenasBotanas){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            @{
              var base64 = Convert.ToBase64String(item.Imagen);
              var imagensrc = string.Format("data:image/jpg;base64,{0}", base64);
              }

            <img src="@imagensrc" style="height:50px;" class="d-block w-50" />


        </td>
        </tr>
}}
    </tbody>
</table>
    </td>
    <td>
<table class="table">
    <h2>Postres</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Categoria == Restaurante.Model.MenuDeCategorias.Postres){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            @{
              var base64 = Convert.ToBase64String(item.Imagen);
              var imagensrc = string.Format("data:image/jpg;base64,{0}", base64);
              }

            <img src="@imagensrc" style="height:50px;" class="d-block w-50" />


        </td>
        </tr>
}}
    </tbody>
</table>
    </td>
</table>

<table>
    <td>
<table class="table">
    <h2>Aperitivos</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Categoria == Restaurante.Model.MenuDeCategorias.Aperitivos){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            @{
              var base64 = Convert.ToBase64String(item.Imagen);
              var imagensrc = string.Format("data:image/jpg;base64,{0}", base64);
              }

            <img src="@imagensrc" style="height:50px;" class="d-block w-50" />


        </td>
        </tr>
}}
    </tbody>
</table>
    </td>
    <td>
<table class="table">
    <h2>Bebidas</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Categoria == Restaurante.Model.MenuDeCategorias.Bebidas){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            @{
              var base64 = Convert.ToBase64String(item.Imagen);
              var imagensrc = string.Format("data:image/jpg;base64,{0}", base64);
              }

            <img src="@imagensrc" style="height:50px;" class="d-block w-50" />


        </td>
        </tr>
}}
    </tbody>
</table>
    </td>
</table>
<table>
    <td>
        <table class="table">
    <h2>Sopas y Ensaladas</h2>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Categoria == Restaurante.Model.MenuDeCategorias.SopasYEnsaladas){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            @{
              var base64 = Convert.ToBase64String(item.Imagen);
              var imagensrc = string.Format("data:image/jpg;base64,{0}", base64);
              }

            <img src="@imagensrc" style="height:50px;" class="d-block w-50" />


        </td>
        </tr>
}}
    </tbody>
</table>
    </td>
</table>

