@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column nav-pills">
    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) d-flex align-items-center" id="profile" asp-page="./Index">
            <i class="bi bi-person-circle me-2"></i> Perfil
        </a>
    </li>
    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) d-flex align-items-center" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i> Correo electrónico
        </a>
    </li>
    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) d-flex align-items-center" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-lock me-2"></i> Contraseña
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item mb-1" id="external-logins">
            <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) d-flex align-items-center" id="external-login" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i> Inicios de sesión externos
            </a>
        </li>
    }
    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) d-flex align-items-center" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-lock me-2"></i> Autenticación de dos factores
        </a>
    </li>
    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) d-flex align-items-center" id="personal-data" asp-page="./PersonalData">
            <i class="bi bi-file-earmark-person me-2"></i> Información personal
        </a>
    </li>
</ul>

