@model IEnumerable<Restaurante.Model.CatalogoListaDeIngredientes>

@{
    ViewData["Title"] = "IndexListaIngredientes";
}


@{
    int id = ViewBag.id;
    string Nombre = ViewBag.Nombre;
}
<h1><center>Ingredientes de @Nombre</center></h1>
<hr />
@Html.ActionLink("Asociar","Asociar",new {id = @id})
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDelIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDeLaMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAproximado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                id = item.Id_MenuIngrediente;
                }
                @Html.DisplayFor(modelItem => item.NombreDelIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeLaMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAproximado)
            </td>
            <td>
                @Html.ActionLink("Desasociar","Desasociar",new{Id = item.id})
            </td>
        </tr>
}
    </tbody>
</table>
