@model IEnumerable<Restaurante.Model.CatalogoDeIngredienteDelMenu>

@{
    ViewData["Title"] = "IndexDelMenu";
}

<h1 class="text-center">Platillos del Menú</h1>
<hr />

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Precio)</th>
            <th>@Html.DisplayNameFor(model => model.GananciasAproximadas)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@String.Format("{0:C}", item.Precio)</td>
                    <td>
                        @item.GananciasAproximadas.ToString("C")
                    </td>

                    <td>
                        @Html.ActionLink("Ingredientes", "IndexListaIngredientes",
                        new { id = item.Id_MenuIngrediente, Nombre = item.Nombre },
                                new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
                }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No hay platillos disponibles.</td>
            </tr>
        }
    </tbody>
</table>