@model IEnumerable<Restaurante.Model.CatalogoListaDeIngredientes>

@{
    ViewData["Title"] = "IndexListaIngredientes";
    int id = ViewBag.id;
    string Nombre = ViewBag.Nombre;
}

<h1>
    <center>Ingredientes de @Nombre</center>
</h1>
<hr />

<p>
    @Html.ActionLink("➕ Asociar ingrediente", "Asociar", new { id = id }, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.NombreDelIngrediente)</th>
            <th>@Html.DisplayNameFor(model => model.NombreDeLaMedida)</th>
            <th>@Html.DisplayNameFor(model => model.ValorAproximado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombreDelIngrediente)</td>
                    <td>@Html.DisplayFor(modelItem => item.NombreDeLaMedida)</td>
                    <td>
                        @item.ValorAproximado.ToString("C")
                    </td>
                    <td>
                        @Html.ActionLink("❌ Desasociar", "Desasociar", new { Id = item.Id_MenuIngrediente }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center text-muted">
                    No hay ingredientes asociados a este platillo.
                </td>
            </tr>
        }
    </tbody>
</table>
